.quiqqer-presentationBricks-backgroundVideo {
    color: var(--qui-backgroundVideo-fontColor, inherit);
    display: grid;
    position: relative;
}

.quiqqer-presentationBricks-backgroundVideo-videoContainer {
    grid-area: 1 / 1 / 2 / 2;
}

.quiqqer-presentationBricks-backgroundVideo video {
    display: block;
    -webkit-filter: brightness(var(--qui-backgroundVideo-backgroundVideoBrightness, 50%));
    filter: brightness(var(--qui-backgroundVideo-backgroundVideoBrightness, 50%));
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.quiqqer-presentationBricks-backgroundVideo-content {
    align-self: var(--qui-backgroundVideo-contentPos, center);
    grid-area: 1 / 1 / 2 / 2;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--qui-backgroundVideo-contentMaxWidth, initial);
    padding-bottom: var(--qui-spacing-xl, 3rem);
    padding-top: var(--qui-spacing-xl, 3rem);
    width: 100%;
    z-index: 1;
}

.quiqqer-presentationBricks-backgroundVideo-content-defaultBtnContainer {
    margin-top: var(--qui-spacing-lg, 1.5rem);
    text-align: var(--qui-backgroundVideo-defaultBtnPos, initial);
}