.countUpBasic-wrapper {
    display: flex;
}

.countUpBasic-entry {
    padding: 0 20px;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    border-right: 1px solid #ddd;
}

.countUpBasic-entry:last-child {
    border-right: none;
}

.countUpBasic-entry-header div:nth-child(2) {
    margin: 20px 0;
}

.countUpBasic-entry-header-icon {
    /*margin-bottom: 2em;*/
}

.countUpBasic-entry-header-icon .fa {
    font-size: 36px;
    /*padding: 20px 0 30px;*/
}

.countUpBasic-entry-header-number {
    font-size: 60px;
    line-height: 100%;
    color: #666;
    display: flex;
    justify-content: center;
}

.countUpBasic-entry-title {
    font-size: 24px;
    color: #999;
    margin: 20px 0;
    padding-bottom: 0;
}

.countUpBasic-entry-content {
    margin-top: 20px;
}

@media (max-width: 767px) {
    .countUpBasic-wrapper {
        display: block;
    }

    .countUpBasic-entry {
        border-right: none;
        margin-bottom: 40px;
        padding-bottom: 40px;
        position: relative;
    }

    .countUpBasic-entry:after {
        content: '';
        position: absolute;
        width: 100px;
        height: 2px;
        background: #ddd;
        left: calc(50% - 50px);
        bottom: 0;
    }

    .countUpBasic-entry:last-child:after {
        display: none;
    }
}