.iconBox-contentPosition__left {
    display: flex;
    flex-direction: row;
}

.iconBox-contentPosition__left > .iconBox-content {
    padding-right: 2rem;
    flex-basis: var(--qui-iconBox-contentWidth);
}

.iconBox-contentPosition__right {
    display: flex;
    flex-direction: row-reverse;
}

.iconBox-contentPosition__right > .iconBox-content {
    padding-left: 2rem;
    flex-basis: var(--qui-iconBox-contentWidth);
}

.iconBox-entries {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% - var(--qui-iconBox-contentWidth));
}

.iconBox-entry {
    flex-basis: var(--qui-iconBox-entryWidth);
    padding: 2rem;
}

.iconBox-entry-title {
    margin: 1rem 0;
}

.iconBox-entry__centerContent {
    text-align: center;
}

.iconBox-entry__centerContent > .iconBox-entry-icon{
    margin: auto;
}

.iconBox__iconSize-large > .quiqqer-icon.fa {
    font-size: 5rem;
}

.iconBox__iconSize-medium > .quiqqer-icon.fa {
    font-size: 3rem;
}

.iconBox__iconSize-small > .quiqqer-icon.fa {
    font-size: 1.5rem;
}

.iconBox-entry-icon img {
    height: var(--qui-iconBox-imgIconSize);
}

.iconBox-entry__square img {
    height: var(--qui-iconBox-imgIconSize);
    width: var(--qui-iconBox-imgIconSize);
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .iconBox-contentPosition__left,
    .iconBox-contentPosition__right{
        display: flex;
        flex-direction: column;
    }

    .iconBox-contentPosition__left > .iconBox-content,
    .iconBox-contentPosition__right > .iconBox-content {
        padding-right: 0;
    }

    .iconBox-entry {
        flex-basis: 100%;
    }
}