.iconBox-contentPosition__left {
    display: flex;
    flex-direction: row;
}

.iconBox-contentPosition__left > .iconBox-content-wrapper{
    padding-right: 2rem;
    flex-basis: var(--qui-iconBox-contentWidth);
}

.iconBox-contentPosition__right {
    display: flex;
    flex-direction: row-reverse;
}

.iconBox-contentPosition__right > .iconBox-content-wrapper{
    padding-left: 2rem;
    flex-basis: var(--qui-iconBox-contentWidth);
}

.iconBox-contentPosition__right .iconBox-content,
.iconBox-contentPosition__left .iconBox-content{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.iconBox-contentPosition__right .iconBox-content__center,
.iconBox-contentPosition__left .iconBox-content__center {
    justify-content: center;
}

.iconBox-contentPosition__right .iconBox-content__bottom,
.iconBox-contentPosition__left .iconBox-content__bottom {
    justify-content: flex-end;
}

.iconBox-entries {
    flex-basis: calc(100% - var(--qui-iconBox-entryWidth));
    display: grid;
    grid-template-columns: repeat(var(--qui-iconBox-entryPerLine), auto);
    gap: 2rem
}

.iconBox-entry {
    flex-basis: var(--qui-iconBox-entryWidth);
}

.iconBox-entry-title {
    margin: 1rem 0;
}

.iconBox-entry__centerContent {
    text-align: center;
}

.iconBox-entry__centerContent > .iconBox-entry-icon{
    margin: auto;
}

.iconBox__iconSize-sm > .quiqqer-icon.fa {
    font-size: 1.5rem;
}

.iconBox__iconSize-md > .quiqqer-icon.fa {
    font-size: 2rem;
}

.iconBox__iconSize-lg > .quiqqer-icon.fa {
    font-size: 3rem;
}

.iconBox__iconSize-xl > .quiqqer-icon.fa {
    font-size: 4rem;
}

.iconBox-entry-icon img {
    height: var(--qui-iconBox-imgIconSize);
}

.iconBox-entry__square img {
    height: var(--qui-iconBox-imgIconSize);
    width: var(--qui-iconBox-imgIconSize);
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .iconBox-contentPosition__left,
    .iconBox-contentPosition__right{
        display: flex;
        flex-direction: column;
    }

    .iconBox-contentPosition__left > .iconBox-content-wrapper {
        padding-right: 0;

    }
    .iconBox-contentPosition__right > .iconBox-content-wrapper {
        padding-left: 0;
    }

    .iconBox-entry {
        flex-basis: 100%;
    }

    .iconBox-entries {
        grid-template-columns: auto;
    }

}