.quiqqer-progressbar-wrapper {
    display: flex;
    flex-direction: row;
}

.quiqqer-progressbar-wrapper.quiqqer-progressbar__textRight {
    flex-direction: row-reverse;
}

.quiqqer-progressbar__center {
    margin: auto;
}

.quiqqer-progressbar__center .quiqqer-progressbar-chart{
    padding: 0;
}

.quiqqer-progressbar-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: var(--qui-progressBar-textPos, start);
}

.quiqqer-progressbar-content-wrapper {
    padding-right: var(--qui-spacing, 1rem);
}

.quiqqer-progressbar-charts {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--qui-spacing, 1rem);
    max-width: var(--qui-progressBar-maxWidth, 100%);
    width: 100%;
}

.quiqqer-progressbar-chart {
    margin-bottom: var(--qui-spacing-md, 1.25rem);
}

.quiqqer-progressbar__textRight .quiqqer-progressbar-content-wrapper {
    padding-right: 0;
    padding-left: var(--qui-spacing, 1rem);
}

.quiqqer-progressbar__textRight .quiqqer-progressbar-charts {
    padding-left: 0;
    padding-right: var(--qui-spacing, 1rem);
}

.quiqqer-progressbar-chart-content {
    display: flex;
    justify-content: space-between;
}

.quiqqer-progressbar-chart-line-background {
    height: 5px;
    background-color: #e8e8e8;
    width: 100%;
}

.quiqqer-progressbar-chart-line {
    height: 100%;
    background-color: var(--qui-color-primary, #333);
    left: 0;
    top: 0;
}

/* Mobile */
@media screen and (max-width: 767px) {
    .quiqqer-progressbar-wrapper {
        flex-direction: column;
    }

    .quiqqer-progressbar-wrapper.quiqqer-progressbar__textRight {
        flex-direction: column;
    }

    .quiqqer-progressbar-content-wrapper,
    .quiqqer-progressbar__textRight .quiqqer-progressbar-content-wrapper {
        padding: 0;
    }

    .quiqqer-progressbar-charts,
    .quiqqer-progressbar__textRight .quiqqer-progressbar-charts {
        margin-top: var(--qui-spacing, 1rem);
        padding: 0
    }
}