.quiqqer-progressbar-wrapper {
    display: flex;
    flex-direction: row;
}

.quiqqer-progressbar-wrapper.quiqqer-progressbar__textRight {
    flex-direction: row-reverse;
}

.quiqqer-progressbar__center {
    margin: auto;
}

.quiqqer-progressbar__center .quiqqer-progressbar-chart{
    padding: 0;
}

.quiqqer-progressbar-content {
    padding-right: 2rem;
}

.quiqqer-progressbar-chart {
    margin: auto;
    margin-bottom: 25px;
    padding-left: 2rem;
}

.quiqqer-progressbar__textRight .quiqqer-progressbar-content {
    padding-right: 0;
    padding-left: 2rem;
}

.quiqqer-progressbar__textRight .quiqqer-progressbar-chart {
    padding-left: 0;
    padding-right: 2rem;
}

.quiqqer-progressbar-chart-content {
    display: flex;
    justify-content: space-between;
}

.quiqqer-progressbar-chart-line-background {
    height: 5px;
    background: #e8e8e8;
    width: 100%;
}

.quiqqer-progressbar-chart-line {
    height: 100%;
    background: #46aae5;
    left: 0;
    top: 0;
}

/* Mobile */

@media screen and (max-width: 768px) {
    .quiqqer-progressbar-wrapper {
        flex-direction: column;
    }

    .quiqqer-progressbar-wrapper.quiqqer-progressbar__textRight {
        flex-direction: column;
    }

    .quiqqer-progressbar__textRight .quiqqer-progressbar-content {
        padding: 0;
    }

    .quiqqer-progressbar-content {
        padding: 0;
    }

    .quiqqer-progressbar-charts {
        margin-top: 20px;
    }

    .quiqqer-progressbar-chart {
        padding: 0;
    }
}