@CHARSET "UTF-8";

.qui-control-stickyContent {
    position: relative;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
}

.qui-control-stickyContent.hideOnResize {
    opacity: 0;
    transition: 0s all ease-in-out;
}

/* left content (image) */
.qui-control-stickyContent-left {
    height: 100vh;
    position: relative;
    /*border: 2px solid royalblue;*/
    /*background: #eee;*/
}

.qui-control-stickyContent-left-wrapper {
    height: 262px;
    /* border: 5px solid red; */
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(500px - 36px);
    margin-left: 18px;
    margin-right: 18px;
}

.qui-control-stickyContent-left-wrapper-container {
    position: relative;
    top: 0;
    transition: 0.3s all ease-in-out;
}

.qui-control-stickyContent-image {
    display: block;
    height: 262px;
    width: 100%;
}

.image-mockup {
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;


}


/* right content (text) */
.qui-control-stickyContent-right-entry {
    height: 100vh;
    /*border: 2px solid #eee;*/
    display: flex;
    align-items: center;
}

.qui-control-stickyContent-right-entry-content {
    /*top: 50%;
    transform: translateY(-50%);
    position: relative;*/
    /*align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;*/
}

.qui-control-stickyContent-right-entry-content h1 {
    margin-top: 20px;
}

@media screen and (max-width: 1200px) {

    .qui-control-stickyContent-left-wrapper {
        height: 208px;
        width: calc(400px - 33px);
        margin-left: 17px;
        margin-right: 17px;
    }

    .qui-control-stickyContent-left-wrapper-container img {
        height: 208px;
    }

    .image-mockup {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {

    .qui-control-stickyContent-left-wrapper {
        height: 156px;
        width: calc(300px - 24px);
        margin-left: 12px;
        margin-right: 12px;
    }

    .qui-control-stickyContent-left-wrapper-container img {
        height: 156px;
    }

    .image-mockup {
        width: 300px;
    }
}

@media screen and (max-width: 767px) {

    .qui-control-stickyContent-left,
    .qui-control-stickyContent-right {
        padding: 0;
    }

    /*.qui-control-stickyContent-left-wrapper {
        height: 262px;
        width: calc(500px - 36px);
        margin-left: 18px;
        margin-right: 18px;
    }

    .qui-control-stickyContent-left-wrapper-container img {
        height: 262px;
    }

    .image-mockup {
        width: 500px;
    }*/
    .qui-control-stickyContent-left-wrapper {
        height: 208px;
        width: calc(400px - 32px);
        margin-left: 17px;
        margin-right: 17px;

        position: relative;
    }

    .qui-control-stickyContent-left-wrapper-container img {
        height: 208px;
    }

    .image-mockup {
        width: 400px;
    }

    .qui-control-stickyContent-left {
        height: 50vh;
        position: relative;
        /*opacity: 0.2;*/
        top: 0;
        z-index: 10;


        overflow: hidden;
        display: flex;
        justify-content: center;
        width: 500px;
    }

    .qui-control-stickyContent-right-entry {
        height: auto;
        margin-bottom: 3em;
        /*padding-bottom: 3em;*/
    }

    .stickyContent-left-mobileWrapper {
        background: #fff;
        top: 0px;
        width: calc(100% + 0px);
        height: 50vh;
        display: flex;
        justify-content: center;
        z-index: 1;
        left: 0px;
    }

    .stickyContent-left-mobileWrapper:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 20px;
        background: linear-gradient(0deg, transparent, #fff, #fff);
        bottom: -20px;
    }
}

@media screen and (max-width: 600px) {
    .qui-control-stickyContent-left {
        width: 300px;
    }

     .qui-control-stickyContent-left-wrapper {
         height: 158px;
         margin-left: 11px;
         margin-right: 11px;
         width: 100%;
     }
}

@media screen and (max-width: 400px) {
    .qui-control-stickyContent-left {
        width: 220px;
        min-width: 220px;
    }

    .qui-control-stickyContent-left-wrapper {
        height: 106px;
        margin-left: 8px;
        margin-right: 8px;
        width: 100%;
    }
}


/* vertical nav */
.qui-control-stickyContent-vNav-container {
    position: fixed;
    right: 0;
    list-style-type: none;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all ease-in-out;

}

.qui-control-stickyContent-vNav-container.visible {
    opacity: 1;
    visibility: visible;
    transition: 0.3s all ease-in-out;

}

.qui-control-stickyContent-vNav {
    position: relative;
    padding: 0;
    list-style: none;
    cursor: pointer;
    margin: 0;
    /*opacity: 0;*/
    /*visibility: hidden;*/
    transition: 0.3s all ease-in-out;
}

.qui-control-stickyContent-vNav li {
    padding: 0;
}

.qui-control-stickyContent-vNav .circle-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid;
    display: block;
    transition: 0.3s all ease-in-out;
    margin: 15px 10px;
}

.qui-control-stickyContent-vNav .circle-icon-active {
    transform: scale(1.35);
}

@media screen and (max-width: 767px) {
    .qui-control-stickyContent-entry {
        height: auto;
        display: block;
        padding: 4em 0;
        border-bottom: 2px solid #eee;
    }

    .qui-control-stickyContent-entry:last-child {
        border-bottom: none;
    }

}