@CHARSET "UTF-8";

.qui-control-stickyContent {
    position: relative;
    overflow: hidden;
}

.qui-control-stickyContent-entry {
    height: 100vh;
    /*border: 2px solid #eee;*/
    display: flex;
}

.qui-control-stickyContent-entry-image {
    /*background: #eee;*/
    /*border: 1px solid black;*/
    position: relative;
}

.qui-control-stickyContent-entry-image img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /*visibility: hidden;*/
    opacity: 0;
    /*transition: 0.4s all ease-in-out;*/
    max-height: 90vh;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.qui-control-stickyContent-entry-content {
    /*top: 50%;
    transform: translateY(-50%);
    position: relative;*/
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

/* vertical nav */
.qui-control-stickyContent-vNav-container {
    position: fixed;
    right: 0;
    list-style-type: none;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all ease-in-out;

}

.qui-control-stickyContent-vNav-container.visible {
    opacity: 1;
    visibility: visible;
    transition: 0.3s all ease-in-out;

}

.qui-control-stickyContent-vNav {
    position: relative;
    padding: 0;
    list-style: none;
    cursor: pointer;
    margin: 0;
    /*opacity: 0;*/
    /*visibility: hidden;*/
    transition: 0.3s all ease-in-out;
}

.qui-control-stickyContent-vNav li {
    padding: 0;
}

.qui-control-stickyContent-vNav .circle-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid;
    display: block;
    transition: 0.3s all ease-in-out;
    margin: 15px 10px;
}

.qui-control-stickyContent-vNav .circle-icon:hover {
    /*transform: scale(1.4);*/
}

.qui-control-stickyContent-vNav .circle-icon-active {
    transform: scale(1.35);
}

@media screen and (max-width: 767px) {
    .qui-control-stickyContent-entry {
        height: auto;
        display: block;
        padding: 4em 0;
        border-bottom: 2px solid #eee;
    }

    .qui-control-stickyContent-entry:last-child {
        border-bottom: none;
    }

    .qui-control-stickyContent-entry:first-child .qui-control-stickyContent-entry-image {
        position: relative;
    }

    .qui-control-stickyContent-entry-image {
        /*position: fixed;*/
        top: 0;
        height: 50%;
        text-align: center;
        background: #fff;
        padding: 1em;
        /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1)*/
    }

    .qui-control-stickyContent-entry-image img {
        position: relative !important;
        top: 0;
        transform: translateY(0);
        opacity: 1;
        transition: 0.3s all ease-in-out;
        height: 100%;
    }

}

@keyframes fadeInDown {
    from {
        opacity: 0;
        top: 0%;
        /*transform: translate3d(0, -100%, 0);*/

    }

    to {
        opacity: 1;
        /*transform: none;*/
        top: 50%;
    }
}

.fadeInDown {
    animation-name: fadeInDown;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        /*transform: translate3d(0, 100%, 0);*/
        top: 100%
    }

    to {
        opacity: 1;
        /*transform: none;*/
        top: 50%;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
        /*top: -100%;*/
    }
}

.fadeOutDown {
    animation-name: fadeOutDown;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        /*transform: translate3d(0, -100%, 0);*/
        top: 0;
    }
}

.fadeOutUp {
    animation-name: fadeOutUp;
}
