.quiqqer-presentationBricks-video-content {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--qui-video-maxContentWidth, initial);
}

.quiqqer-presentationBricks-video-videoContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--qui-video-maxVideoWidth, initial);
    min-height: 200px;
    overflow: hidden;
    position: relative;
}

.quiqqer-presentationBricks-video-videoContainer video {
    display: block;
    -webkit-filter: brightness(var(--qui-video-videoBrightness, 0.5));
    filter: brightness(var(--qui-video-videoBrightness, 0.5));
    max-width: 100%;
    transition: 0.3s ease;
    width: 100%;
}


/***************/
/* open button */
/***************/
.quiqqer-presentationBricks-video-buttonWrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    cursor: pointer;
}

.quiqqer-presentationBricks-video-buttonWrapper button {
    all: unset;
    opacity: 0.75;
    transition: 0.3s ease;
}

.quiqqer-presentationBricks-video-buttonWrapper button:focus {
    opacity: 1;
}

.quiqqer-presentationBricks-video-button .fa {
    color: #fff;
    font-size: clamp(2rem, 8vw, 6rem);
}

.quiqqer-presentationBricks-video-buttonWrapper:hover button {
    opacity: 1;
}

.quiqqer-presentationBricks-video-buttonWrapper:hover ~ video {
    transform: scale(1.05);
}

/* show button on mouse over */
@media (hover: hover) {
    .quiqqer-presentationBricks-video__showBtnOnMouseOver .quiqqer-presentationBricks-video-buttonWrapper:not(:hover) button {
        margin-bottom: -1rem;
        opacity: 0;
    }
}