.wallpaperText {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.wallpaperText-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.wallpaperText.fixed {
    background-attachment: fixed;
}

@media (max-width: 767px) {

}