.wallpaperText {
    height: 100%;
    background-color: var(--qui-wallpaperText-bgColor, #eee);
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: var(--qui-wallpaperText-bgImage, none);
}

.wallpaperText-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
    justify-content: var(--qui-wallpaperText-contentPos, flex-start);
    min-height: var(--qui-wallpaperText-minHeight, initial);
    color: var(--qui-wallpaperText-fontColor, inherit);
}

.wallpaperText-container-content{
    max-width: var(--qui-wallpaperText-contentMaxWidth, 600px);
}

.wallpaperText.fixed {
    background-attachment: fixed;
}

@media screen and (max-width: 1024px) {
    .wallpaperText.fixed {
        background-attachment: initial;
    }
}