.wallpaperTextArrow {
    height: 100vh;
    min-height: 400px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.wallpaperTextArrow.fixed {
    background-attachment: fixed;
}

@media screen and (max-width: 1024px) {
    .wallpaperTextArrow.fixed {
        background-attachment: initial;
    }
}

.wallpaperTextArrow .grid-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.wallpaperTextArrow-content-left {
    padding-right: 20px;
}

.wallpaperTextArrow-content-right {
    text-align: center;
}

.wallpaperTextArrow-arrow {
    display: flex;
    justify-content: center;
}

.wallpaperTextArrow-arrow .fa {
    font-size: 3em;
    color: #fff;
    padding: 20px;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    position: absolute;
    bottom: 0;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    opacity: 0.9;
}

/* effect: scale bounce */
.wallpaperTextArrow-arrow .fa-effect-scale:hover {
    transform: scale(1.2);
}

/* effect: scale bounce */
.wallpaperTextArrow-arrow .fa-effect-scale-bounce:hover {
    animation: scaleBounce 1.2s ;
}

/* effect: ball bounce after hover */
.wallpaperTextArrow-arrow .fa-effect-ball-bounce-hover:hover {
    -moz-animation: ballBounce 2s infinite;
    -webkit-animation: ballBounce 2s infinite;
    animation: ballBounce 2s infinite;
}

/* effect: ball bounce always */
.wallpaperTextArrow-arrow .fa-effect-ball-bounce-always {
    padding-bottom: 2px;
    -moz-animation: ballBounce 2s infinite;
    -webkit-animation: ballBounce 2s infinite;
    animation: ballBounce 2s infinite;
}

/* opacity to transparent */
.wallpaperTextArrow-arrow .fa-effect-opacity-to-transparent:hover {
    opacity: 0.4;
}

/* opacity from transparent */
.wallpaperTextArrow-arrow .fa-effect-opacity-from-transparent {
    opacity: 0.5;
}
.wallpaperTextArrow-arrow .fa-effect-opacity-from-transparent:hover {
    opacity: 1;
}


/* ball bounce */
@keyframes ballBounce {
    0%, 20%, 50%, 70%, 85%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    75% {
        transform: translateY(-5px);
    }
}

/* scale bounce */
@keyframes scaleBounce {
    0%, 20%, 30%, 50%, 70%, 100% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    20% {
        /*-moz-transform: scale(1.2);
        -ms-transform: scale(-30px);
        -webkit-transform: scale(-30px);*/
        transform: scale(1.5);
    }
    40% {
        transform: scale(1.2);
    }
    60% {
        /*-moz-transform: scale(-15px);
        -ms-transform: scale(-15px);
        -webkit-transform: scale(-15px);*/
        transform: scale(1.1);
    }
}


@media (max-width: 767px) {
    .wallpaperTextArrow .grid-container {
        display: block;
    }

    .wallpaperTextArrow-content-left {
        padding: 3em 0 0 0;
    }
}