.wallpaperTextArrow {
    height: 100vh;
    min-height: 400px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.wallpaperTextArrow.fixed {
    background-attachment: fixed;
}

@media screen and (max-width: 1024px) {
    .wallpaperTextArrow.fixed {
        background-attachment: initial;
    }
}

/* background image */
.wallpaperTextArrow__bg {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.wallpaperTextArrow__bg :where(img) {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* content (text and image) */
.wallpaperTextArrow .grid-container {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.wallpaperTextArrow-content-left {
    padding-right: 20px;
}

.wallpaperTextArrow-content-right {
    text-align: center;
}

/* arrow */
.wallpaperTextArrow__arrowContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.wallpaperTextArrow__arrowContainer :where(button),
.wallpaperTextArrow__arrowContainer button:is(:hover, :focus) {
    all: unset;
    cursor: pointer;
    color: var(--icon-color);
    min-width: 44px;
    min-height: 44px;
    display: grid;
    place-items: center;
    transition: 0.2s all ease-in-out;
    opacity: 0.9;
    font-size: var(--icon-size);
}

/* effect: scale bounce */
.wallpaperTextArrow__arrowContainer .effect-scale:hover {
    transform: scale(1.2);
}

/* effect: scale bounce */
.wallpaperTextArrow__arrowContainer .effect-scale-bounce:hover {
    animation: scaleBounce 1.2s;
}

/* effect: ball bounce after hover */
.wallpaperTextArrow__arrowContainer .effect-ball-bounce-hover:hover {
    animation: ballBounce 2s infinite;
}

/* effect: ball bounce always */
.wallpaperTextArrow__arrowContainer .effect-ball-bounce-always {
    animation: ballBounce 2s infinite;
}

/* opacity to transparent */
.wallpaperTextArrow__arrowContainer .effect-opacity-to-transparent:hover {
    opacity: 0.4;
}

/* opacity from transparent */
.wallpaperTextArrow__arrowContainer .effect-opacity-from-transparent {
    opacity: 0.5;
}
.wallpaperTextArrow__arrowContainer .effect-opacity-from-transparent:hover {
    opacity: 1;
}


/* ball bounce */
@keyframes ballBounce {
    0%, 20%, 50%, 70%, 85%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
    75% {
        transform: translateY(-5px);
    }
}

/* scale bounce */
@keyframes scaleBounce {
    0%, 20%, 30%, 50%, 70%, 100% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.5);
    }
    40% {
        transform: scale(1.2);
    }
    60% {
        transform: scale(1.1);
    }
}