.wallpaperText {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.wallpaperText-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
}

.wallpaperText.fixed {
    background-attachment: fixed;
}

@media screen and (max-width: 1024px) {
    .wallpaperText.fixed {
        background-attachment: initial;
    }
}